# Java / Spring Boot
backend/target/
backend/*.jar
backend/*.war
*.class

# Node / Next.js
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env.local

# Environnement
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Docker
docker-volumes/

# Rapport 
backend/docs/rapport/
.env.local
.claude
docs/rapport/*.fdb_latexmk
docs/rapport/*.fls
docs/rapport/*.log
docs/rapport/*.pdf
docs/rapport/*.synctex.gz
